.react-datepicker__close-icon {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0 6px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  
.react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: transparent;
    color: #003b4e;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    padding: 2px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23003b4e' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E") no-repeat center center;
    transition: background-color 0.3s ease;
}