# Secrets
.env*

# Node + npm
node_modules
.next

# Random
next-env.d.ts

# Docker related
docker-compose*.yml
Dockerfile*

# Ignore jest files
jest.*

#Git
.gitignore
.github

#Other
README.md
LICENSE.md
.db-data*
docs
public